/* new tweet style section */
.new-tweet {
    background-color: #fff; /* Background color of the form */
    border: 1px solid #ccc; /* Border around the form */
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Style the form title */
  .new-tweet h2 {
    font-size: 20px;
    color: #333;
  }
  
  /* Style the form labels */
  .new-tweet label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  /*  tweet text area */
  .new-tweet textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none; 
  }
  
  /* Style the tweet button */
  .new-tweet button[type="submit"] {
    background-color: #1da1f2; /* Twitter blue color */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Style the tweet counter */
  .new-tweet .counter {
    font-size: 14px;
    color: #888;
     
  }
.tweet-output-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


  
 /* CSS mark red if tweet .exceeded-limit */
  .exceeded-limit {
    color: red;
  }
  